
.App {
   text-align: -webkit-center;
  }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width: 18rem;
}

/* handmade */
.cards{
  display: flex;
  flex-direction: row;
}
.bg{
  background-image: url("../src/img/nd.jpg");
}

.card-body{
  background-color: transparent;
}
.lbg{
  display: flex;
  flex-direction:column;
  background-image: url("../src/img/india-tourism.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.log{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:max-content;
  border-radius: 1rem;
  border-color: #000000;
  background-color: #f1eaea;
  opacity: 0.9;
  padding: 4rem;

}
.body2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form-control{
  width: 45vh;
}

.toDoBox{
  display: flex;
  flex-direction: column;
}
.toDoBox h1{
  align-self: center;
  margin-top: 20px;
}
.adTask{
  align-self: center;
}
.adTask form{
  display: flex;
  justify-content:center
}
.btn{
  color: #000000;
  background-color: #0d6efd;
}
.tbtn{
  align-content: center;
}

.nav1{
  padding: 2px;
}

.r{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 padding: 5%;
 width: -webkit-fill-available;
}

.r a{
  margin-left: 40px;
}

.re{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}
p{
  margin: 0 10px;
}

.sbtn{
  background-color: transparent;
  color: #000000;
  border-color: transparent;
}

.nc{
  background-color: #b5b5b5;
}
.t{
  background-color: transparent;
}